<div class="container p-3">

  <%= link_to posts_path do %>
    <%= octicon "chevron-left" %> Back to All Questions
  <% end %>

  <h2 class="h2 text-black-50 page-title">
    <%= @post.title %>
  </h2>

  <small class="post-stats text-black-50">
    At <%= @post.updated_at %> by <%= @post.user.name %>
  </small>

  <p><%= @post.body %></p>
  <%= render 'comments/list', comments: @post.comments %>

  <small>
    <a href data-role="toggle-comment-box"
      data-parent-id="<%= @post.id %>" data-parent-type="Post">
      <%= octicon "comment" %> Comment
    </a>
  </small>

  <div class="mt-2">
    <%= render 'comments/form', parent: @post, post: @post %>
  </div>

</div>
